body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ff1414;
    color: #000; /* Texto en color negro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffffcc;
    padding: 2%;
    border-radius: 2%;
    box-shadow: 0 0 5% rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    width: 80%; /* Ajustado para que se vea mejor en pantallas pequeñas */
}

h2 {
    margin-top: 0;
    margin-bottom: 1%; /* Añadido */
}

p {
    margin: 0.5% 0; /* Modificado */
}

ul {
    list-style: none;
    padding-left: 0; /* Modificado */
}

li {
    margin-bottom: 0.5%; /* Modificado */
}

button {
    background-color: #ff0000c5;
    color: #fff;
    padding: 1% 2%; /* Modificado */
    border: none;
    border-radius: 2%;
    cursor: pointer;
    margin-top: 1%; /* Añadido */
}

button:hover {
    background-color: #ff0000;
}

.logout-btn {
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 2% 4%;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4%;
    font-size: 100%; /* Aproximado de 16px basado en un tamaño base de 1000px */
}

.logout-btn:hover {
    background-color: #d32f2f;
}


